{% extends 'layout.html' %}
{% block body %}
<h1><a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a></h1>
<p>Welcome to Flask’s documentation. Get started with Installation and then get an overview with the Quickstart. There is also a more detailed Tutorial that shows how to create a small but complete application with Flask. Common patterns are described in the Patterns for Flask section. The rest of the docs describe each component of Flask in detail, with a full reference in the API section.</p>
{% endblock %}